img {
    width: 200px;
}

img.scale:hover {
    margin-left: 20px;
    transform: scale(1.1,1.1);
}

img.rotate {
    transform: rotate(20deg);
}

img.translate {
    transform: translate(50px, 20px);
}